<div class="ui raised segment">
	<h2 class="ui header">SKU's</h2>

	<form class="ui form" #f="ngForm" [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)">
		<div class="field">
			<label for="skuInput">SKU</label>
			<input type="text" id="skuInput" placeholder="SKU" name="sku" [formControl]="myForm.controls['sku']">
		</div>

		<div class="field">
			<label for="nameInput">Name</label>
			<input type="text" id="nameInput" placeholder="Name" name="name" [formControl]="myForm.controls['name']">
		</div>
		
		{{ person }}

		<button type="submit" class="ui button">Enviar</button>
	</form>
</div>