<h4 class="ui horizontal divider heder">
	Selccion actual: {{ choice }}
</h4>

<div class="ui raised segment">
	<ul [ngSwitch]="choice">
		<li *ngSwitchCase="1">Diablo</li>
		<li *ngSwitchCase="2">Mario Bross</li>
		<li *ngSwitchCase="3">Crash</li>
		<li *ngSwitchCase="4">Contra</li>
		<li *ngSwitchCase="5">Doom</li>
		<li *ngSwitchDefault>Default Pacman</li>
	</ul>
</div>

<div style="margin-top: 20px">
	<button class="ui primary button" (click)="nextChoice()">
		Siguiente ...
	</button>
</div>