<div class="ui raised segment">
	<h2 class="ui header">SKU's</h2>

	<form class="ui form" #f="ngForm" [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)"
	[class.error]="!myForm.valid && myForm.touched"
	>
		<div class="field"
		[class.error]="!myForm.valid && myForm.touched"
		>
			<label for="skuInput">SKU</label>
			<input type="text" id="skuInput" placeholder="SKU" name="sku" [formControl]="myForm.controls['sku']">
			<div *ngIf="sku.hasError('required')">
				El SKU es requerido
			</div>

			<div *ngIf="!myForm.controls['sku'].valid" class="ui error message">
				SKU Invalido
			</div>

			<div *ngIf="sku.hasError('invalidSku')" class="ui error message">
				El SKU debe comenzar con <i>123</i>
			</div>
		</div>

		<div class="field">
			<label for="skuInput">Producto</label>
			<input type="text" id="productNameInput" placeholder="Producto"
			 [formControl]="myForm.get('productName')"
				[(ngModel)]="productName"
			 >
		</div>

		<div *ngIf="!myForm.valid"
      class="ui error message">Form is invalid</div>
		


		<!--<div *ngIf="!sku.valid" class="ui error message">
			SKU Invalido
		</div>-->

	
		<!--<button type="submit" [disabled]="!myForm.valid" class="ui button">Enviar</button>-->
		<button type="submit" class="ui button">Enviar</button>
	</form>
</div>