<h4 class="ui horizontal divider header">
	style.background-color
</h4>

<div [style.background-color]="'yellow'">
	Fondo amarillo
</div>

<h4 class="ui horizontal divider header">
	Literal NgStyle
</h4>

<div [ngStyle]="{ color: 'white', 'background-color': 'blue' }">
	Texto blanco en fondo azul
</div>

<h4 class="ui horizontal divider header">
	Combinado
</h4>

<div [ngStyle]="{ color: 'red' }" [style.font-size.px]="fontSize">
	Texto rojo
</div>

<h4 class="ui horizontal divider header">
	Estilos con objetos
</h4>

<div [ngStyle]="style"></div>

<h4 class="ui horizontal divider header">
	Propiedades y variables
</h4>

<div [ngStyle]="{ color: color }">
	Texto {{ color}}
</div>

<div class="ui input">
	<input type="text" name="color" value="{{ color }}" #colorinput>
</div>

<div class="ui input">
	<input type="text" name="fontSize" value="{{ fontSize }}" #fontinput>
</div>

<button class="ui primary button" (click)="apply(colorinput.value, fontinput.value)">
	Cambiar Estilos
</button>